* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  --color-link: #0085ff;
  --color-gradient-top: #ff4f4f;
  --color-gradient-bottom: #ff7d1b;
}

body {
  margin: 0;
} /* Comentário */

h1 {
  margin: 0;
  text-shadow: 0 4px 4px #0004;
  width: 15ch;
}

.header {
  height: 50vh;
  background: linear-gradient(
    to right bottom,
    var(--color-gradient-top),
    var(--color-gradient-bottom)
  );
  color: #fff;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 4px #0004;
  text-align: center;
}

.profile {
  position: relative;
  top: -75px;
  text-align: center;
}

.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 4px #0004;
}

.profile__copy {
  margin: 32px auto;
  max-width: 75ch;
  font-style: italic;
}

.profile__social,
.footer__social {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  margin: 0 auto;
  padding: 0;
  width: fit-content;
  list-style: none;
  color: var(--color-link);
}

.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 16px;
  background: #000;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.footer__social {
  margin: 0;
  justify-self: end;
}
